@import '../../styles/global.scss';

.home {
    width: 100%;
    height: 92vh;

    display: flex;
    flex-direction: column;

    padding: 20px;

    section{
        display: flex;
        gap: 20px 30px;
        height: 10%;
    }
    .cards{
        .valor{
            color: $text-color-gray;
        }
        .variacao{
            color: rgb(57, 177, 57);
        }
    }
    .chards{
        height: 90%;
        padding: 20px 0px;

        display: grid;
        grid-template-columns: 1fr 1fr  1fr 1fr;
        grid-template-rows: 0.5fr  1.5fr;
        gap: 20px 30px;
        grid-auto-flow: row;
        grid-template-areas:
            "Carteira Carteira  Meta  Tipo"
            "Carteira Carteira  Dividendo Dividendo"
            "Carteira Carteira  Dividendo Dividendo";
        
        .Meta{
            grid-area: Meta;
            padding: 50px;
            gap: 30px;
            background-color: $bg-light-gray;
            width: 100%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $text-color-white;
            text-align: center;

            .line{
                background-color: $bg-dark-gray;
                width: 100%;
                height: 20px;
                border-radius: 10px;
                position: relative;
                
                p{
                    position: absolute;
                    z-index: 2;
                    left: 50%;
                    top: 1px;
                }
                .line-complete{
                    width: 80%;
                    height: 20px;
                    border-radius: 10px;
                    position: absolute;
                    background-color:$color-yellow;
                    
                }
            }
        }

        .Tipo{
            grid-area: Tipo;
            padding: 50px;
            gap: 30px;
            background-color: $bg-light-gray;
            width: 100%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $text-color-white;
            text-align: center;
            
            .line{
                background-color: $bg-dark-gray;
                width: 100%;
                height: 20px;
                border-radius: 10px;
                position: relative;
                
                p{
                    position: absolute;
                    z-index: 2;
                    left: 50%;
                    top: 1px;
                }
                .line-complete{
                    width: 95%;
                    height: 20px;
                    border-radius: 10px;
                    position: absolute;
                    background-color:$color-yellow;
                    
                }
            }
        }
    
        .Dividendo{
            grid-area: Dividendo;
            background-color: beige;
        }
        
        
        .Carteira {
            padding: 50px;
            gap: 30px;
            grid-area: Carteira;
            background-color: $bg-light-gray;
            width: 100%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $text-color-white;
        }
    }
}
