@import '/src/styles/variables.scss';

.navbar {
    height: 8vh;
    
    display: flex;
    align-items: center;

    background-color: $bg-light-gray;
    
    
    .logo {
        height: 100%;
        width: 15vw;
        
        font-size: 200%;
        color: $text-color-white;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-bottom: 1px solid $bg-dark-gray;

        box-shadow: 10px 0px 10px -10px rgba(0,0,0,1);
        -webkit-box-shadow: 10px 0px 10px -10px rgba(0,0,0,1);
        -moz-box-shadow: 10px 0px 10px -10px rgba(0,0,0,1);


       
    }
    .menus{
        width: 85%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: end;

        padding-right: 20px;

        box-shadow: 0px 17px 21px -10px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0px 17px 21px -10px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 17px 21px -10px rgba(0,0,0,0.25);

    
            h1{
                font-size: 27px;
                font-weight: normal;
            }
             
        }
    
}